/* MAIN STYLE SHEET (comment can be removed) */


footer {
    position:absolute;
    bottom:0;
}


/* TEMPLATE STYLING */

/* Custom */
.page-template-template-custom{
    background-color: red;
}
/* End Custom */